/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    height: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Home Page */
  .container .jumbotron {
    height: 100%;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {  
    height: 100%;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    height: 100%;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Home page */
    .container .jumbotron {
    margin-top: 30px;
    height: 100%;
  }
  .login div:first-of-type {
    width: 200px;
    margin: 0 auto;
}

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
  .hidden-xxs, .col-xs-6.hidden-xxs, .col-xs-2.hidden-xxs{
    display: none;
  }
}
