* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
}

/** HEADER **/
#header-nav {  
  border-radius: 0;
  border: 0;
}
.navbar-brand {
}
.navbar-brand h1 { 
  font-size: 1.5em;
  margin-top: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
  color: white;
}
h2 {
  margin-bottom: 20px;
}

#nav-list {
  margin-bottom: 0;
  margin-top: 0;
}
#nav-list a {
  text-align: center;
}
#header-nav a:link {
	color: #777;  
}
#header-nav a:hover {
	color: white;  
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border:1px solid white;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -45px;
  background-color: gray;
}
hr {
    margin: 0 0 0 0;
    border: none; /* Убираем границу */
    background-color: black; /* Цвет линии */
    height: .05em; /* Толщина линии */
   }
#borderTable {
  border-radius: 5px;
  background-color: white;
}
table {
  margin-top: 15px;
  background-color: #eee;
  border-radius: 5px;
  border-collapse: inherit; 
  
}

table thead * {
	font-size: 1em;
}
table tbody * {
	font-size: .95em;
	font-weight: normal;
}

.container .btn {
  clear: both;
  padding: .2em .4em;
}

#carsTitle, #notesTitle {
  margin-bottom: 25px;
  margin-top: 0px;
}

#logOut a {
  position: relative;
  display: block;
  padding: 15px 15px;
  color: #9d9d9d;
}
.login {
    margin: 0 auto;
    padding: 20px;
}
.login div:first-of-type {
    width: 300px;
    margin: 0 auto;
}


