<legend class="text-center">Add Car</legend>
<form name='regForm' novalidate>
<div class="form-group row">
  <label class="col-xs-2 col-form-label">Gov Number</label>
  <div class="col-xs-10">
    <input  class="form-control" 
            name="gov_number"
            ng-model="car.gov_number"
            required
            minlength="4"
            placeholder="Example: AH 12-34 CA"
            >
      <span
        ng-if="(regForm.username.$error.minlength || regForm.gov_number.$error.required) && regForm.gov_number.$touched">
        gov_number must be at least 4 characters long
      </span>    
  </div>
</div>

<div class="form-group row">
  <label class="col-xs-2 col-form-label">carType</label>
  <div class="col-xs-10">
    <input  class="form-control" 
            name="carType"
            ng-model="car.car_type"
            required
            placeholder="Example: VW"
            >
           <span ng-if="regForm.carType.$invalid && regForm.carType.$touched">
            Field required
          </span>
  </div>
</div>
<div class="form-group row">
  <label class="col-xs-2 col-form-label">Description</label>
  <div class="col-xs-10">
    <input  class="form-control" 
            name="description"
            ng-model="car.gov_number_trailer"
            placeholder="Some Description"
            >
  </div>
</div>
<button
    ng-disabled="regForm.$invalid"
    ng-click="car.submit()"
    type="button" class="btn btn-success btn-md">Create
</button>
</form>
      




